:root {
    --header-color: #000000;
    --font-color-white: #ffffff;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;

    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7.5rem;

    background-color: var(--header-color);
}

#space {
    width: 15vh;
}

#logo-seeg {
    width: 15vh;
    margin: 1rem;
}

#pin-section {
    display: flex;
    justify-content: space-evenly;

    font-weight: 500;
    color: var(--font-color-white);

    width: 15vh;
}

#pin {
    width: 1rem;
}

@media (max-width: 768px) {

    #space {
        display: none;
    }

    header {
        flex: space-between;
        padding: 0 1rem;
    }
    .header-elements {
        font-size: .8rem;
    }
} 



.car-img {
    width: 5rem;
}