:root {
    --white-color: #a7a4a4;
    --black-color: #0e0d0d;
    --infoBtn-color: #037e03;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    color: var(--white-color);
    background-color: var(--black-color);
}

#logo{
    width: 150px;
    height: 75px;
    object-fit: cover;
    margin: 0;
}

#carImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: .7rem;
}

main {
    display: flex;
}

#carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 4rem;
    justify-content: space-evenly;
}

.products {
    display: flex;
    flex-direction: column;
    border: .15rem solid var(--black-color);
    padding-top: 1.5rem !important;
    padding-bottom: .7rem !important;
    padding: 0 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.infoBtn {
    background-color: var(--infoBtn-color);
    border: none;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}