:root {
    --header-color: #000000;
    --font-color-white: #ffffff;
    --main-color: #ff6c32;
    --first-row-color: #161616;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    
    margin: 0;
}

/* Header stylish started */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7.19854vw;

    background-color: var(--header-color);
}

#header-text {
    width: 11.941vw;
    color: var(--font-color-white);
    font-weight: 500;
}

#logo-seeg {
    width: 11.941vw;
    margin: 1.194vw;
}

#right-section {
    display: flex;
    justify-content: space-evenly;

    font-weight: 500;
    color: var(--font-color-white);

    width: 11.941vw;
}

#pin {
    width: 1.1941vw;
}

#left-section {
    display: flex;
}

#car-pin {
    width: 1.553vw;

    padding-right: 1.194vw;
    padding-bottom: .1194vw;
}

/* Header stylish finished */

/* Banner stylish start */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3.5821vw;

    margin-bottom: 11.9403vw;
}

#banners {
    margin-bottom: 5.97015vw;
}

#top-banner {
    margin-bottom: 1.79105vw;
}

.banner {
    border-radius: 1.194vw;
    box-shadow: 0.313vw 0.313vw 0.625vw rgba(0, 0, 0, 2);
}

#banner1 {
    width: 95.981vw;
}

#banner2 {
    width: 33.065vw;

    margin-right: 1.4397vw;
}

#banner3 {
    width: 61.476vw;
}

/* Banner stylish finished */

/* Menu stylish started */

#car-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%
}

#first-row {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-color: var(--first-row-color);

    padding-bottom: 4.31265vw;

    margin-bottom: 5.39085vw;
}

#second-row {
    width: 100%;
}

#menu-title {
    margin-bottom: 3.2345vw;
    margin-top: 3.2345vw;

    font-weight: 900;
    font-size: 2.695417vw;
    color: var(--font-color-white);

    font-family: 'Roboto Condensed', sans-serif;
}

#models {
    color: var(--main-color);
    font-family: 'Roboto Condensed', sans-serif;
}

.cars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to bottom, white, #cbcbcb);

    border-radius: 1.194vw;

    width: 31.267vw;
    height: 29.111vw;
}

.model-pin {
    display: flex;
    flex-direction: column;

    padding-left: 1.194vw;
    padding-right: 1.194vw;
}

.car-model {
    display: flex;
    align-items: center;

    border-bottom: var(--header-color) 0.078vw solid;
    margin-top: 2.1563vw;
    padding-bottom: .5391vw;

    font-size: 1.194vw;

    width: 29.111vw;
    height: 2.157vw;
}

h3 {
    margin-right: 5.39085vw;
    margin-left: .97035vw;

    color: var(--main-color);

    font-size: 1.9vw;
}

.model {
    font-weight: 500;
}

.info-pin {
    width: 1.618vw;

    margin-top: 1.0782vw;
    padding-left: 1.0782vw;
}

.car-img-container {
    display: flex;
    justify-content: center;

    padding-top: 3.77356vw;
}

.car-img {    
    width: 21.564vw;
}

.menu-btn {
    margin-top: 2.1563vw;
    margin-bottom: .7547vw;
    border: none;

    background-color: var(--main-color);
    color: var(--font-color-white);
    font-weight: 700;
    font-size: 1.65vw;
    border-radius: .6vw;
    padding: .2156vw 1.0782vw;
    font-family: 'Roboto Condensed', sans-serif;

    width: 18.329vw;
}

.more-info {
    color: var(--header-color);
    font-size: 1.0746vw;

    text-decoration: underline;
}

/* Menu stylish finished */

/* Mobile adaptations */

@media (max-width: 768px) {

    #left-section {
        display: none !important;
    }
    header {
        flex: space-between;
        padding: 0 1rem;
    }
    .header-elements {
        font-size: .8rem;
    }
    #logo-seeg {
        width: 10vh;
    }



    main {
        margin-top: 1.5rem;
    }

    #top-banner{
        margin-bottom: 1rem;
    }

    #banner1 {
        width: 24rem;
    }

    #banner2 {
        width: 8.1rem;

        margin-right: .9rem;
    }

    #banner3 {
        width: 15rem;
    }
} 